*,*:before,*:after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*Heading Section*/
.header{
    height:10vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    padding: 0% 6%;
}
.header_nav{
    list-style: none;
    padding:unset;
    display:flex;
    gap:20px;
}
#header_btn{
padding:12px 24px;
border-radius:6px;
background: #051036;
color:#fff
}
/* section_A*/
.section_A{
    display:grid;
    grid-template-columns: 1fr 1fr;
    position:relative;
}
.section_A_heading{
    display:grid;
    place-content:center;
}
#section_A_logo{
    width:100px;
    height:100px;
position:absolute;
left:10%;
bottom: -50px;
}
.section_A_heading{
    padding-left:10%;
}
#section_A_heading_h1{
font-family: Poppins;
font-size: 58px;
font-weight: 600;
line-height: 80px;
text-align: left;
color: #2B3056;

 }
 #section_A_heading_p{
font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: #05103699;
 }
#section_A_btn{
    display:flex;
    gap:10px
}
.section_A_btn1{
    padding:16px 37px;
    background: #467DF5;
    color:#fff;
    background-color: 10px;
    border: unset;
    border-radius:5px;

}
.section_A_btn2{
    padding:16px 37px;
    color: #2B3056;
    background-color: transparent;
    border-radius:5px;
}
/* SECTION B */

.section_B_text_block{
    width: 100vw;
    padding:10vw 10% 8vw 10%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
    background: rgb(5,16,54);
    background: linear-gradient(17deg, rgba(5,16,54,1) 48%, rgba(175,181,212,1) 100%);
    color:#fff

    
    
}
.section_B_text_block h2{
    width: 80%;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    

}
.section_B_para_Block{
    display:flex;
    gap:15%;
}
.section_B_para_Block p{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}
.section_B_img_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
  }
  
  .section_B_box {
    flex-basis: 300px;
    flex-grow: 1;
    height:calc(100vw / 3);
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    padding:30px 40px
 }
 .section_B_box h3 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 45px;
    text-align:left;
    color:#fff
 }
 .section_B_box h4{
    color:#fff;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 45px;
    text-align: left;

 }
 .section_B_box button{
    background-color: transparent;
    border: none;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:#fff;
    position: relative;
    padding-right: 20px;
 }
 .block_B_icon{
    position:absolute;
    top:50%;
    padding-left: 50px;
    transform: translate(-50%, -50%);
 }

 .box_1{
    background-image: url("asset/B_img_1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 .box_2{
    background-image: url("asset/B_img_2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 .box_3{
    background-image: url("asset/B_img_3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

 /*  section C*/

 .section_C_part_A{
    text-align: center;
    width: 50%;
    margin:0 auto;
    margin-top: 50px;

 }
 .section_C_part_A h2{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 80px;
    color: #2B3056;

    
 }
 .section_C_part_A p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #05103699;


 }
 .section_C_part{
    position:relative;
    color: #051036;
 }
 .section_C_part_B{
    display:flex;
    justify-content: center;
    background: #FCFBFC;
    position:absolute;
    bottom: -100px;
    z-index: 10;
 }
 .section_C_part_B{
    width: 95%;
    margin:0 auto;
    position:relative;
   padding-bottom: 100px;
}

 .section_C_part_B_unit_A{
   width: 70%;
    display:flex;
    flex-wrap: wrap;
    row-gap:40px;
    column-gap: 40px;
   
 }
.section_C_part_B_unit_A > div{
    display: flex;
    flex-basis:30%;
    flex-grow: 1;
    padding:20px 10px;
  
  
}
.section_C_part_B_para{
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: #05103699;
}
.section_C_part_B_unit_A div  div:nth-child(2){
    display: flex;
}
.section_C_part_B_unit_A div  div:nth-child(1) img{
    display: inline-block;
    width:40px
}
.section_C_part_B_unit_A div  div:nth-child(2) img{
display:inline-block;
align-self:center;
width: 50px;
}
.section_C_part_B_unit_B{
    position: absolute;
    right: 20px;
    bottom: -100px;

}

.section_D{
    position: relative;
    padding-left: 10%;
    padding-top: 210px;
    background: #051036;
}
.section_D_part_A >h2{
    color: #fff;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    
}
.section_D_part_B >img{
    width:80%;
    margin-bottom: 220px;
    margin-top: 90px;
}
.section_D_part_C{
    display: grid;
    grid-template-columns: 1fr auto;
    color: #051036;
    background: #FAFAFA;
    margin-left: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding:64px 0 0 124px;
    position:absolute;
    z-index: 1;
    bottom: -180px;
    

}
.section_D_part_C > div:nth-child(1) >h1{
font-family: Poppins;
font-size: 32px;
font-weight: 600;
line-height: 80px;
text-align: left;
padding-top:8px
}
.section_D_part_C > div:nth-child(1) >p{
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 30px;
text-align: left;
margin-bottom: 30px;
}
.unit_C_img{
    margin-right: 20px;
}

.section_D_part_C_unit_B{
    width: 100%;
    max-width: 100%;
}
.section_D_part_C_unit_B > img{
    width:100%;
    height:auto;
}
/* section_E */


/* Section_F   */
.section_F_blocks{
    width: 90%;
    margin:0 auto;
    display:grid;
    grid-template-columns: 3fr 7fr;
    column-gap: 8vw; 
    margin-top: 5.6vw;
    margin-bottom: 5.6vw;
}
.block_A >h4 {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #051036;
}
.block_A > p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: #05103699;
    margin:calc(0.04 *.3*100vw)
}
.block_A button{
    background: #467DF5;
    color:#fff;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    position:relative;
    padding:16px 100px 16px 30px;
    border-radius: 5px;
    border:none;
}
.block_F_icon{
position:absolute;
right: -10px;
}
.accordion{
    display:flex;
    flex-direction: column;
    justify-content: end;
}
.accordion >div:nth-child(2){
    padding: 20px 0;
    border-bottom: 1px solid #05103699;
    border-top: 1px solid #05103699;
    margin:20px 0
}

  
  .accordion-header {
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    color: #051036;
  }
  
  .accordion-title {
    flex-grow: 1;
  }
  
  .accordion-icon {
    margin-left: 5px;
  }
  
  .accordion-content {
    display: none;
    padding: 10px;
    background-color: #fff;
    color: #05103699;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;


  }
  .section_G{
    background: #051036;
    padding: 5vw;
  }
  .section_G_Block{
    width: 90%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 50% 50%;
  }
  .section_G_Block_A > h2{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    color:#fff
  }
  .section_G_Block_A >p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color:#fff
  }
  .section_G_Block_B{
    justify-self: right;
  }
  .section_G_Block_B >h2{
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    color:#fff
  }
  #section_G_input{
    width: 100%;
    border:none;
    background-color: transparent;

  }
  .section_G_Block_B >div{
    display:flex;
    padding: 21px 10px 21px 0px;
    border-bottom:1px solid #FFFFFFCC
  }
  #section_G_input::placeholder{
    color:#fff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }
  .block_G_icon{
    color:#fff;
  }
  .section_H_blocks{
    width: 90%;
    margin:0 auto;
  }
  .section_H_blocks{
    margin-top:4.6vw ;
    margin-bottom:4.6vw ;
  }
  .section_H_block_A{
    position:relative;
    
  }
  .section_H_block_A_unit_1{
    display:grid;
    grid-template-columns: repeat(4 ,auto);
    
  }
  .section_H_block_A_unit_1 >div>h4{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;

  }
  .section_H_block_A_unit_1 >div>ul{
    list-style-type: none;
  }
  .section_H_block_A_unit_1 >div>ul>li{
    padding-bottom: 10px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
  }
  .section_H_block_A_unit_2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #467DF5;
    position: absolute;
    right:20px;
    bottom: -10px;

  }
  .section_H_block_A_unit_2 >i{
    font-size: 24px;
    color:#fff;
  }
  .section_H_block_B{
    display:flex;
    justify-content: space-between;
    padding-top:1.9vw;
    margin-top: 1.9vw;
    border-top: 0.5px solid #051036
  }
  .section_H_block_B >div >a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  .section_H_block_B >div >a:nth-child(2){
    margin:0 2.1vw;
  }
  /*SECTION_E*/

  .section_E{
    padding-top:250px
  }
  .scrollCardContainer{
    display:grid;
    grid-template-columns: auto 1fr auto;
    width:90%;
    gap:20px;
    margin:0 auto;
    align-items: center;
  }
  .section_E_header{
    text-align: center;
  }

  .scroll_container {
    overflow-x: hidden;
  }
  
  .scroll_cards {
    display: flex;
    transition: transform 0.3s ease-in-out;
    gap:40px;
    padding:20px;
  
  }
  
  .scroll_card {
    flex: 0 0 48%;
    max-width: calc(100% / 2);
    padding: 10px;
    box-sizing: border-box;
    border-radius:6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
  }
  .card_img_div{
    height:50px;
  }
  .card_img{
    position: absolute;
    top:0;
    right:-20px;
  }
  .scroll_card > p{
    width: 75%;
    text-align: justify;
  }
  .scroll_card :last-child{
    display:flex;
    justify-content: space-between;
  }
  .scroll_card :last-child >i{
    font-size: 60px;
    color:#F6F1E9;
    margin-right:10px;
  }
  
  .scroll-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .scroll-arrow {
    font-size: 20px;
    cursor: pointer;
  }
  
  
  .greater_than {
    width: 50px;
    height: 50px;
    border:1px solid gray;
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius:50%
  }
  .greater_than >i{
    color:red
  }
  .less_than {
    width: 50px;
    height: 50px;
    border:1px solid gray;
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius:50%;
  }
  .less_than >i{
    color:red
  }
  .card_img{
  border-radius:50%;
  width:50px;
  height:50px;
}
